<%- include('./partials/header.ejs') %> 
<%- include('./partials/navbar.ejs') %>

<div class="container">
    <h1>Welcome to my shop</h1>
    <a href="/products" class="btn btn-primary mt-2 mb-2 btn-sm">Show all products</a>
</div>

<%- include('./partials/footer.ejs') %>